#result{
  padding: 40px;
}

h1{
  font-weight: medium;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}

label{
  margin-bottom: 20px;
}

form {
  border-style: double;
  padding: 80px;
}

.btn {
  margin-top: 50px;
  background-color: aliceblue;
  border: none;
  color: black;
  padding: 15px,40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top:50%;
  left:50%;
  border-style: inset;
}